<div class="container">
    <div class="inputForm">
        <img src=".\assets\Geodis-Logo_NEW_138x51px_BLUE 1.svg" alt="Geodis Logo" width="100" height="70" class="logo">
        <h2>Login Form</h2>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user" placeholder="Enter Username" [formControl]="username">
            <mat-error *ngIf="username.invalid">{{getErrorUsername()}}</mat-error>
         </mat-form-field>
         <br>
         <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="pass" [type]="hide ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
         </mat-form-field><br>
         <div class="buttons">
             <button mat-raised-button class="loginButton" [disabled]="username.invalid || password.invalid" (click)="loginRoute()">Login</button>
             <button mat-raised-button (click)="Signup()">Signup</button>
         </div>
         <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
    </div>
