<h2>Access Request from Users</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let row">{{row.user}}</td>
    </ng-container>
    <ng-container matColumnDef="component">
        <th mat-header-cell *matHeaderCellDef>Component</th>
        <td mat-cell *matCellDef="let row">{{row.component}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <button mat-button (click)="processRequest(row,true)">Accept</button>
            <button mat-button (click)="processRequest(row,false)">Reject</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
    <tr *matNoDataRow style="color:red">No data found</tr>
</table>